body {
    background-color: crimson;
    margin: 0;
}

.gallery-img {
    width: 30%;
}

main {
    width: 800px;
    margin: auto;
    background-color: white;
    padding: 16px;
}

.home-img {
    width: 100%;
}
.home-video{
    width: 800px;
    height: 450px;
}
footer{
    background-color: #050512;
    color: white;
    padding: 20px;
    text-align: center;

}